<!DOCTYPE html>
<html lang="pt-br">
  <head>
      
    <%- include('./components/head') %>

  </head>
  <body>

    <%- include('./components/nav') %>

    <header>
        <img src="https://clubeesperia.com.br/wp-content/uploads/2018/04/Biblioteca.png" alt="">
    </header>

    <main>

        <section id="cards">

            <h2>Lista de livros</h2>

            <% pokedex.forEach((pokemon) => { %>
                <div class="card">
                
                    <img src="<%= pokemon.imagem %>" >
                    <h3><%= pokemon.nome %></h3>
                    <p>Autor: <%= pokemon.tipo %></p>
                    <p class="descricao"><%= pokemon.descricao %></p>
                    <a id="editar" href="/getById/<%= pokemon.id %>/put">Editar</a>
                    <a id="apagar" href="/getById/<%= pokemon.id %>/delete">Apagar</a>
        
                </div>
            <% }) %>
        
        </section>

    </main>

    <% if (pokemonPut != null) { %>
      <%- include('./components/modalPut') %>
    <% } %>

    <% if (pokemonDel != null) { %>
      <%- include('./components/modalDel') %>
    <% } %>

    <%- include('./components/footer') %>

  </body>
</html>
